@model FiftyShadesOfErrorList_MVCUI.Models.ViewModels.UserCreateView
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AdminLTE 3 | Registration Page (v2)</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<link rel="stylesheet" href="~/Tema/plugins/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="~/Tema/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
	<link rel="stylesheet" href="~/Tema/dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
	<div class="register-box">
		<div class="card card-outline card-primary">
			<div class="card-header text-center">
				<a href="../../index2.html" class="h1"><b>Diet Mate</b></a>
			</div>
			<div class="card-body">
				<p class="login-box-msg">Üye Ol</p>

				<form asp-action="Register" method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="input-group my-3">
						<input asp-for="Ad" class="form-control" placeholder="Ad">
						
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
						</div>
					</div>
					<span asp-validation-for="Ad" class="text-danger"></span>
					<div class="input-group  my-3">
						<input asp-for="Soyad" class="form-control" placeholder="Soyad">
						
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
						</div>
					</div>
					<span asp-validation-for="Soyad" class="text-danger"></span>
					<div class="input-group  my-3">
						<input asp-for="Email" class="form-control" placeholder="E-posta">

						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					<span asp-validation-for="Email" class="text-danger"></span>
					<div class="input-group  my-3">
						<input asp-for="Sifre" class="form-control" placeholder="Şifre">

						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<span asp-validation-for="Sifre" class="text-danger"></span>
					<div class="input-group  my-3">
						<input asp-for="SifreTekrar" class="form-control" placeholder="Şifre Tekrar">

						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<span asp-validation-for="SifreTekrar" class="text-danger"></span>
					<div class="row justify-content-center">
						<!-- /.col -->
						<div class="col-4">
							<button type="submit" class="btn btn-warning btn-block">Kayıt Ol</button>
						</div>
						<!-- /.col -->
					</div>
				</form>


				<a asp-action="Login" class="text-center">Zaten Üyeyim</a>
			</div>
			<!-- /.form-box -->
		</div><!-- /.card -->
	</div>
	<script src="~/Tema/plugins/jquery/jquery.min.js"></script>
	<script src="~/Tema/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/Tema/dist/js/adminlte.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
